<br />
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Posts from Ervin </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Comments</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13/5/2021</td>
                            <td><h5>Title</h5>What are we doing tomorrow? <Br> <h5>Comments</h5>Tomorrow we plan to go to the movies!</td>
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>13/4/2021</td>
                            <td><h5>Title</h5>How many letters are there in the English alphabet? <Br> <h5>Comments</h5>26</td>
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>13/3/2021</td>
                            <td><h5>Title</h5>How many consonants are there in the English alphabet? <Br> <h5>Comments</h5>21</td>
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>