<br />
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Posts from Leanne </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Comments</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13/5/2021</td>
                            <td><h5>Title</h5>How many days do we have in a week? <Br> <h5>Comments</h5>Seven</td>
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>13/4/2021</td>
                            <td><h5>Title</h5>How many days are there in a normal year? <Br> <h5>Comments</h5>365 (not a leap year)</td>
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>13/3/2021</td>
                            <td><h5>Title</h5>How many colors are there in a rainbow? <Br> <h5>Comments</h5>Seven colors</td>
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>